#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 50vw;
    height: 70vh;
    /* background: #000; */
    padding: 4vw;
  }
  .mySwiper{
    width: 70vw;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #23AA9B;
    width: 3vw;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
  }
  
  .sub-swipe{
    width: 90vw;
    /* background-color:beige ; */
  }

  .mySwiper .swiper-pagination-bullet {
    background-color: #23AA9B; /* Change the background color to green */
  }
  