.scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
    position: relative;
    width: 80%;
    margin-top: 2vw;
    


}





.scroller_in {
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
   

}

.scroller::-webkit-scrollbar {
    display: none;
}

.scroller_in {
    display: inline-block;
    white-space: nowrap;
}

.scroller h4:hover {
    color: white;
    cursor: pointer;
}

.scroller_in img {
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 1vw;
    border-radius: 12px;
    height: 12vh;
    width: 9vw;
    
}
@media (max-width: 500px) {
    .scroller_in img {
        margin: 1vw;
        border-radius: 30px;
        height: 10vh;
        width: 28vw;
    }
    .scroller{
        width: 100%;
    }
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}