.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .cookie-consent p {
    margin: 0;
    flex-grow: 1;
  }
  
  .cookie-consent button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #23AA9B;
    color: #fff;
    cursor: pointer;
  }
  
  .cookie-consent button:hover {
    background-color: #1e907d;
  }
  