.footer-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.upper-part{
    width: 100vw;
    height: 70vh;
    background: #13655B;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: white;
    gap: 16vw;
}
.left-foot{
    display: flex;
    flex-direction: column;
    width: 23%;
    /* background: #e3b9b9; */
    height: 69%;
    color: white;
    justify-content: space-around;
    /* gap: 1vh; */
}
.gem{
    display: flex;
    /* justify-content: center; */
    gap: 1vw;
    width: 30vw;
    /* background: #000; */
    align-items: center;
    margin-left: -0.3vw;
    margin-top: 5vh;
}
.gem h3{
    font-size: 0.9vw;
    font-weight: 200;
}
.footer-logo{
    height: 20%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* background: #000; */
}

.footer-left-content p {
    margin-top: -2vh;
    color: white;
}


.footer-left-content h2 {
    color: #ffffff;
    position: relative;
}

.footer-left-content h2::after {
    content: '';
    width: 70%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
}

.footer-img-div img {
    height: 8vh;
}

.icon-div-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 40%;
    margin-top: 2vh;
}

.mid-foot{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.right-foot{
    /* background: #000; */
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-top{
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}
.c-top-heading{
    gap: 1vw;
    display: flex;
    width: 100%;
    /* background: white; */
    height: 5vh;
    align-items: center;
    position: relative;
}


.links-footer a{
    font-weight: 100;
    text-decoration: none;
    color: white;
}

.c-top p{
    padding-left: 3vw;
}


.copyright{
    width: 100%;
    color: rgba(255, 255, 255, 0.726);
    background: #13655B;
    font-size: 0.7vw;
    font-weight: 100;
    border-top: 1px solid #1db5a4;
    
    margin: auto;
    height: 6vh;
    display: flex;
    justify-content: left;
    padding-left: 8vw;
}
.gem{
    gap: 2svw;
    
}
.gem img{
    width: 80%;
}
.gem p{
    width: 70%;
    text-align: center;
}


@media (max-width:768px) {
    .footer-wrap{
        /* height: 90vh; */
        /* bottom: 0; */
        gap: 1vw;
    }
    .footer-logo{
        width: 60%;
        gap: 2vw;
        /* background: #000; */
        margin-left: -5vh;
        align-items: center;
    }
    
    .footer-img-div img{
        width: 50%;
        height: 60%;
        float: right;
    }
    .left-foot{
        width: 100%;
        height: 30%;
        padding: 0vw 5vw;
    }

     .upper-part{
        flex-wrap: wrap;
        padding: 15vw;
        height: 70%;
        gap: 0vw;
        font-weight: 100;
        /* letter-spacing: 0.2vw; */
     }
     .icon-div-footer{
        position: absolute;
        top: 87%;
        left: -1%;
     }
     .upper-part h2{
        font-size: 2vh;
     }
     .upper-part h3{
        font-size: 1.8vh;
     }
     .upper-part p{
        color: #9ECAC5;
     }
     .gem h3{
        font-size: 0.7vh;
     }

     .gem{
        position: absolute;
        top: 34%;
        left: 5%;
        width: 65vw;
        gap: 3vw;
        margin-top: 0vh;
        /* padding: 2vw; */
     }
     .gem p{
        /* display: none; */
        font-size: 3vw;
        width: 120%;
     }
     .mid-foot{
        width: 40%;
        margin-top: 19vh;
        margin-left: 5vw;
     }
     .right-foot{
        width: 55%;
        margin-top: 0vh;
        margin-bottom: -27vh;
        
     }
     .gem img{
        width: 90%;
     }
     .copyright{
        margin: 0;
        margin-top: -1vh;
        display: flex;
        align-items: center;
        border-top: 0.1px solid #1db5a4;
        
        /* height: 8vh; */
     }

}