.custom-grid {
    display: flex;
    gap: 10px;
    padding:  0px 70px;
    width: 90vw;
    height: 100vh;
    

   
  }
  
  /* Left Section - Takes full height */
  .left-section {
    width: 40%;
  }
  
  .left-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Right Section - Split vertically */
  .right-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
  }
  
  /* Top Half and Bottom Half in the right section */
  .top-half, .bottom-half {
    display: flex;
    flex: 1;
    gap: 10px;
    height: 50%;
    
  }

  .gallery-image-container{
    
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    
    
  }
  
  /* In the top half, first image has less width and second has more */
  .top-half .gallery-image-container:first-child {
    flex: 1.5; /* Less width */
  }
  .top-half .gallery-image-container:last-child {
    flex: 2; /* More width */
  }
  
  /* In the bottom half, first image has more width and second has less */
  .bottom-half .gallery-image-container:first-child {
    flex: 2; /* More width */
  }
  .bottom-half .gallery-image-container:last-child {
    flex: 1.5; /* Less width */
  }

  
  
  .gallery-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  