@font-face {
    font-family: 'Jakarta';
    src: url(../assets/fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: 'Jakarta-med';
    src: url(../assets/fonts/PlusJakartaSans-Medium.ttf);
}

.navbar-wrap {
    width: 100%;
    height: 10vh;
    display: flex;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    /* background: pink; */
    justify-content: center;
    align-items: center;
    font-family: Jakarta;
    margin-top: 0.5vw;
}
.menu{
    display: none;
}

.nav-left {
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-left: 7vw;
    /* background: #000; */
}

.left-content p {
    margin-top: -2vh;
    color: white;
}

.left-content h2 {
    color: #23AA9B;
    position: relative;
}

.left-content h2::after {
    content: '';
    width: 70%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
}

.img-div img {
    height: 6vh;
}



.nav-right {
    width: 80%;
    height: 50%;
}

.nav-right ul {
    display: flex;
    width: 100%;
    gap: 4vw;
}

li {
    color: rgba(255, 255, 255, 0);
    text-decoration: none;
}

.navlink {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    font-family: Jakarta-med;
    position: relative;
}

.navlink::after {
    content: '';
    position: absolute;
    top: 120%;
    left: 0%;
    height: 2px;
    width: 100%;
    background-color: #23AA9B;
    transform: scaleX(0);
    /* Start hidden by scaling X to 0 */
    transform-origin: left;
    /* Start the scaling effect from the left */
    transition: transform 0.3s ease;
    /* Smooth transition for the effect */
}
.navlink:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
}
.navlink.active::after{
    transform: scaleX(1);
    
}
.hero-nav .navlink {
    color: white;
}

.other-nav .navlink {
    color: black;
}
.other-nav .left-content p {
    color: black;
}

.other-nav .left-content h2::after {
    background: #000000;
}


.fullscr{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 120;
    background: #00000060;
    top: -118%;
    transition: all ease 0.5s;
}
.toggle{
   
    top: 0%;
}
#full-div1{
    height: 100%;
    width: 100%;
    
    background: #23AA9B;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
    position: relative;
    
    
}
#fulldiv-text{
    /* border-top: 1px solid black; */
    width: 60%;
    position: absolute;
    text-align: left;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    /* gap: 2vw; */
    left: 40px;
}
#fulldiv-text h1{
    font-size: 2.6vh;
    font-weight: 100;
}
#fulldiv-text a{
    /* font-size: 7vw; */
    /* color: #8b0a0a; */
    text-decoration: none;
    

}

@media (max-width:768px){
    .nav-right{
        display: none;
        width: 50%;
    }
    
    .nav-left{
        width: 70%;
        /* background: palegoldenrod; */
        margin-right: 40vh;
    }
    .nav-left .img-div{
        /* background: white; */
        height: 6.5vh;
        
        overflow: hidden;
        margin-top: 10vw;
        width: 90%;
    }

    .nav-left .img-div img{
        height: 100%;
        width: 100%;
        object-fit: contain;

    }
    .left-content{
        display: none;
    }
    .menu{
        display: block;
        text-align: center;
        font-size: 6vw;
        margin: auto;
        position: absolute;
        z-index: 1000;
        left: 88%;
        top: 17%;
        color: white;
    }
}
