.rotate-wrap{
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  /* background: #000; */
}
.heading-rotate{
  padding-top: 3vw;
  padding-left: 14vw;
}
.heading-rotate h1{
  font-size: 4vh;
}

.atomic-model {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    background: #ffffff;
    gap: 15vw;
    /* margin-top: -2vh; */
  }
  
  .left-div {
    position: relative;
    width: 400px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    /* background: #000; */
    /* display: flex; */

  }
  
  .nucleus {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(69, 68, 68, 0.341); */
    border-radius: 50%;
  }
  
  .central-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    transform: translate(-50%, -50%);
    /* z-index: 10; */
    border-radius: 50%;
    
  }
  .central-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .electron {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
    
    box-shadow: 2px 2px 20px rgba(0, 128, 128, 0.164);
    transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
    animation: revolve 20s linear infinite;
}

  .electron.active {

      box-shadow: 0 0 30px 2px rgba(0, 128, 128, 0.8); /* Active shadow style */
  }

  .nucleus:hover .electron{
    cursor: pointer;
    animation-play-state: paused;
  }
  
  .electron-1 { animation-delay: -4s; }
  .electron-2 { animation-delay: -8s; }
  .electron-3 { animation-delay: -12s; }
  .electron-4 { animation-delay: -16s; }
  .electron-5 { animation-delay: -20s; }
  
  @keyframes revolve {
    from { transform: rotate(0deg) translateX(180px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(180px) rotate(-360deg); }
  }

  .right-div {
    margin-left: 20px; /* Adjust as needed */
    /* background-color: aqua; */
    width: 43%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }
  .right-top{
    height: 55%;
    width: 100%;
    background: #e9f7f5;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
  }

  .r-t-img{
    width: 50%;
    height: 100%;
    z-index: 1000;
    position: relative;
    padding-left: 2vw;
    
  }
  .r-t-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .right-bottom{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 2vw;
  }
  .r-b-l{
    border-radius: 10px;
    width: 50%;
    height: 100%;
    background: #e9f7f5;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 0.4vw;
    position: relative;
    
  }
  .right-div h1{
    font-weight: 900;
  }
  .right-div p{
    color: rgba(98, 94, 94, 0.484);
  }
  a{
    text-decoration: underline;
    font-weight: 900;
    color: teal;
    font-size: 1vw;

  }
  .r-b-con{
    width: 30%;
    font-size: 0.7vw;
    margin-left: 2vw;
    
  }
  .r-b-img{
    width: 70%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    right: 0;

    
    
  }
  .r-b-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .r-b-r{
    width: 50%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* padding: 0.4vw; */
    
    height: 100%;
    border-radius: 10px;
    background: #e9f7f5;
    position: relative;
  }

  

  .right-img-ilus {
    width: 140px;
    height: 220px;
    object-fit: cover;
    position: absolute;
    top: 0%;
    left: 40%;
  }

  
  .content-display {
    padding: 20px;
    width: 100%;
    height: 100%;
    
  }
  .circle-div{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .circle-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .electron img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  .electron h4{
    font-size: 0.7vw;
    width: 90%;
    text-align: center;
    color: teal;
    font-weight: 600;
    /* background: #000; */
  }

  .custom-content{
    height: 100%;
    width: 100%;
    background: #e9f7f5;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 4vw;
    
  }

  .custom-content img{
    width: 20%;
    height: 100%;
    top: 0;
    left: 45%;
    position: absolute;
  }
  .custom-r-t-con{
    height: 100%;
    position: relative;
    width: 30%;
    padding: 2vw;

    /* background: #000; */
  }

  .custom-r-t-con a{
    position: absolute;
    bottom: 20%;
  }
  .custom-img-div{
    width: 70%;
    /* background: #000; */
  }
  .custom-img-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }