.rotate-wrap {
  display: flex;
  flex-direction: column;
  background: white;
  justify-content: center;
  width: 100%;
  min-height: 100svh;
  /* background: #000; */
}

.heading-rotate {
  padding-top: 3vw;
  /* padding-left: 14vw; */
  text-align: center;
}

.heading-rotate p {
  color: #585C5B;
  font-size: 1vw;

}

.heading-rotate h1 {
  font-size: 4.6vh;
}

.atomic-model {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  background: #ffffff;
  gap: 9vw;
  padding-left: 4vw;
  padding-right: 4vw;
  /* margin-top: -2vh; */
}

.left-div {
  position: relative;
  width: 400px;
  /* Adjust as needed */
  height: 400px;
  /* Adjust as needed */
  /* background: #000; */
  /* display: flex; */

}

.nucleus {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgba(69, 68, 68, 0.341); */
  border-radius: 50%;
}

.central-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  /* Adjust as needed */
  height: 150px;
  /* Adjust as needed */
  transform: translate(-50%, -50%);
  /* z-index: 10; */
  border-radius: 50%;

}

.central-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.electron {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;

  box-shadow: 2px 2px 20px rgba(0, 128, 128, 0.164);
  transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
  animation: revolve 20s linear infinite;
}

.electron.active {
  background: #23AA9b;
}

.electron.active h4 {
  color: white;
}

.nucleus:hover .electron {
  cursor: pointer;
  animation-play-state: paused;
}

.electron-1 {
  animation-delay: -4s;
}

.electron-2 {
  animation-delay: -8s;
}

.electron-3 {
  animation-delay: -12s;
}

.electron-4 {
  animation-delay: -16s;
}

.electron-5 {
  animation-delay: -20s;
}

@keyframes revolve {
  from {
    transform: rotate(0deg) translateX(180px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(180px) rotate(-360deg);
  }
}

.right-div {
  margin-left: 20px;
  /* Adjust as needed */
  /* background-color: aqua; */
  width: 43%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.right-top {
  height: 55%;
  width: 100%;
  background: #e9f7f5;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 4vw;
  /* padding-left: 2vw; */
}

.r-t-con {
  padding-left: 2vw;
}



.r-t-img {
  width: 50%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  padding-left: 2vw;
  right: 0;

}

.r-t-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50%;
  gap: 2vw;
}

.r-b-l {
  border-radius: 10px;
  width: 50%;
  height: 100%;
  background: #e9f7f5;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.4vw;
  position: relative;

}

.right-div h1 {
  font-weight: 900;
}

.right-div p {
  color: rgba(98, 94, 94, 0.484);
}

a {
  text-decoration: underline;
  font-weight: 900;
  color: teal;
  font-size: 1vw;

}

.r-b-con {
  width: 30%;
  font-size: 0.7vw;
  margin-left: 2vw;

}

.r-b-img {
  width: 70%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  right: 0;
}

.btmimgabs {
  bottom: -20%;
}

.bottomabs {
  position: absolute;
  left: 0;
  top: 5%;
}

.r-b-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.r-b-r {
  width: 50%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* padding: 0.4vw; */
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  background: #e9f7f5;
  position: relative;
}



.right-img-ilus {
  width: 140px;
  height: 230px;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 40%;
}


.content-display {
  padding: 20px;
  width: 100%;
  height: 100%;

}

.circle-div {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.circle-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.electron img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.electron h4 {
  font-size: 0.7vw;
  width: 90%;
  text-align: center;
  color: rgba(0, 128, 128, 0.471);
  font-weight: 600;
  /* background: #000; */
}

.custom-content {
  height: 100%;
  width: 100%;
  background: #e9f7f5;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  /* justify-content: center;
    align-items: center; */
  gap: 4vw;

}

.custom-content img {
  width: 20%;
  height: 100%;
  top: 0;
  left: 45%;
  position: absolute;
}

.custom-r-t-con {
  height: 100%;
  position: relative;
  width: 30%;
  padding: 2vw;
  padding-left: 4vw;
  z-index: 1000;

  /* background: #000; */
}

.custom-r-t-con a {
  position: absolute;
  bottom: 67%;
  left: 25%;
}

.custom-img-div {
  width: 100%;
  position: relative;
  top: 27%;
  scale: 1.9;
  left: -30%;

  /* background: #000; */
}

.custom-img-div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile-carousel {
  display: none;
}

.call{
  display: none;
}
@media (max-width:768px) {
  .call{
    display: block;
    color: white;
    position: absolute;
    right: 16%;
    font-size: 7vw;
    top: 54%;
  }

  .heading-rotate h1 {
    font-size: 6vw;
  }

  .heading-rotate{
    margin-bottom: 6vh;
  }


  .heading-rotate p {
    font-size: 3vw;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 2vh;
  }

  .right-div {}

  .left-div {
    display: none;
    margin-right: 2vh;
    /* width: 90%; */

    margin-top: -15vh;
  }

  .electron h4 {
    font-size: 3vw;
  }

  .atomic-model {
    flex-direction: column-reverse;
  }

  .mobile-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 2vw;

    /* Adjusted for better spacing */
    margin: 3vh auto;
    /* Centering the carousel */
  }

  .mobile-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 10px;
    /* Adjust as needed */
    margin-right: 4vh;
    margin-top: -8vh;
  }

  .mobile-prev-prev,
  .mobile-next-next,
  .mobile-arrow,
  .mobile-circle {
    min-width: 70px;
    /* Fixed width */
    min-height: 80px;
    /* Fixed height */
    background: #ffffff;
    border-radius: 50%;
    /* Makes them circular */
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 128, 128, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 3vw;
    /* Adjust font size as needed */
    color: #23AA9B;
    transition: all 1s ease;
    /* Smooth scaling transition */
  }

  .mobile-circle {
    font-size: 3.5vw;
    background: #23AA9B;
    /* Active circle background color */
    color: white;
    /* Text color for active circle */
    padding: 27px;
    transition: all 1s ease-in;
    /* Remove padding */
  }

  .mobile-prev-prev.active,
  .mobile-next-next.active,
  .mobile-arrow.active,
  .mobile-circle.active {
    transform: scale(1.1);
    /* Slightly scale up the active element */
  }

  .mobile-arrow {
    background: #ffffff;
    /* Background color for arrows */
    cursor: pointer;
    /* Change cursor to pointer */
  }

  .mobile-carousel {

    transition: transform 0.3s ease-in-out;
  }

  .mobile-carousel.slide-left {
    /* transform: translateX(-10%); */
    /* Adjust based on the effect you want */
  }

  .mobile-carousel.slide-right {
    /* transform: translateX(10%); */
    /* Adjust based on the effect you want */
  }

  @keyframes resetSlide {
    to {
      transform: translateX(0);
    }
  }



  .right-div {
    width: 90%;
    margin-right: 6.7vh;
    /* height: 70%; */
    
  }

  .right-div img {
    width: 100%;
    object-fit: contain;
  }
  .special-align{
    left: -35%;
    top:40%;
    scale: 2.8;
    
    
  }
  .special-align-kitchen{
    scale: 1.6;
  }
  .special img{
    width: 80% !important;
    margin-left: 2vw;
  }
  .custom-content img{
    left: 30%;
  }

  .r-t-con {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* background: #000; */
    padding-top: 6vh;
    padding-left: 3vw;
    font-weight: bold;
  }

  .custom-content{
    height: 94%;
  }

  .right-top{
    height: 40%;
  }

  .r-t-con h1 {
    font-size: 6vw;
    margin-top: -1vh;
    width: 30%;
    
    margin-left: 1vh;
  }
  .right-top a{
    font-size: 3vw;
    margin-left: 1vh;
  }

  .r-t-con p {
    font-size: 2.4vw;
    margin-top: -1vh;
  }
  .bottomabs{
    top: 0;
  }

  .r-b-con{
    margin: 4vw;
  }

  .r-t-img {
    /* background: #000; */
    width: 70%;
    right: -10%;
  }
  .r-t-img img{
    width: 90%;
    object-fit: cover;
  }

  .right-bottom h1{
    font-size: 2vh;
  }
  .r-b-con{
    padding: 0vw 1vw;
  }

  .r-b-img{
    margin-top: 5.5vh;
    right: -3%;
    width: 60%;
  }

  .r-b-con a{
    font-size: 1.6vh;
  }

  .btmimgabs{
    width: 90%;
    left: 5%;

  }

  .custom-r-t-con{
    height: 100%;
    position: relative;
    width: 30%;
    padding: 2vw;
    /* padding-left: 5vw; */
    margin-left: 5vw;
    z-index: 1000;
  }
  
  .custom-r-t-con a{
    font-size: 3vw;
    left: 7%;
  }






}

.carousel-indicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  left: -2%;
  top: 25%;
  z-index: 100;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-dot.active-dot {
  background-color: #23AA9B; /* Active color to highlight the current index */
}
