.about-wrap{
    width: 100vw;
    min-height: 100vh;
    background: white;
}
.about-wrap>img{
    position: absolute;
    width: 100%;
    object-fit: cover;
}

.about-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5vw;
    
    /* background: #000; */
    /* gap: 3vw; */
}
.about-hero h1{
    font-size: 3vw;
}
.about-hero p{
    width: 100%;
  color: #585C5B;
  font-size: 1.2vw;



}
.about-hero-left{
    width: 30%;
    /* background: palegreen; */
}
.about-hero-right{
    width: 25%;
    position: relative;

}
.about-hero-right img{
    width: 100%;
    object-fit: contain;
}

.about-offer{
    width: 60%;
    height: 40vh;
    margin: auto;
    text-align: center;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center; */
}

.about-offer p{
  color: #585C5B;
  font-size: 1.2vw;
  
}

.about2{
    width: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: auto; */
    height: 60vh;
    margin-left: 18vw;
    
}
.about2 p{
    color: #7A8584;
    font-size: 1.2vw;
    text-align: left;
}

.about3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about-wrap span{
    font-weight: bold;
    color: #000000cf;
}
.about3>p{
    width: 50%;
    color: #7A8584;
}
.founders{
    /* margin-top: 8vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50%;
    gap: 4vw;
    /* background: #000; */
}
.founder-sub{
    width: 50%;
    height: 50vh;
    /* background: palevioletred; */
}
.founder-img{
    width: 70%;
    margin: auto;
}
.founder-img img{
    width: 100%;
}

.founder-con{
    color: #585C5B;
    width: 100%;
    text-align: justify;
}
.founder-sub p{
    color: #585C5B;
    
}


.about4{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 4vw;
    margin-top: 40vh;
}
.about4-img-div{
    width: 80%;
    display: flex;
    
    justify-content: center;
    
}
.about4-img-div img{
    object-fit: contain;
    aspect-ratio: 4/3;
    
}

@media (max-width:768px) {
    .about-hero{
        flex-direction: column-reverse;
        /* height: 100svh; */
    }
    .about-hero-left{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about-hero-left h1{
        font-size: 3vh;
    }
    .about-hero-left p{
        font-size: 3vw;
    }
    .about-hero-right{
        width: 70%;
        /* margin-top: -5vh; */
    }

    .about-offer p{
        font-size: 3vw;
    }
    .about-offer h1{
        font-size: 3vh;
    }
    .about2{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about3{
        min-height: 100vh;
    }
    .about2 h1{
        font-size: 3vh;
    }
    .about2 p{
        font-size: 3vw;
    }
    .about3 h1{
        font-size: 3vh;
        /* margin-top: -5vh; */
    }
    .about3 p{
        font-size: 1.8vh;
        width: 60%;
    }
    .founders{
        flex-direction: column;
        margin-top: 25vh;
        margin-bottom: 16vh;
        width: 70%;
    }
    .founder-sub{
        width: 100%;
        text-align: center;
        padding: 2vh;
        margin-top: 25vh;
    }
    .founder-sub p{
        width: 100%;
    }

    .founder-con{
        text-align: center;
        
        /* background: #000; */
    }
    .founder-sub a{
        font-size: 1.4vh;
    }
    .about4{
        
    }
    .about4-img-div{
        display: flex;
        width:50%;
        /* flex-wrap: wrap; */
        
    }

    .about4-img-div img{
        width: 100%;
    }

}