@font-face {
    font-family: 'Jakarta';
    src: url(../assets/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
    font-family: 'Jakarta-l';
    src: url(../assets/fonts/PlusJakartaSans-Light.ttf);
}
.hero-wrapper{
    overflow-x: hidden;
    position: relative;
    font-family: Jakarta;
}

.container{
    width: 100vw;
    height: 100vh;
}
.hero-content{
    width: 32%;
    height: 50%;
    position: absolute;
    top: 4%;
    z-index: 100;
    left: 13%;
}
.hero-content h1{
    font-size: 3vw;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
.hero-content p{
    width: 90%;
    font-size: 1.3vw;
    color: rgb(221, 219, 219);
    font-family: Jakarta-l;
    font-weight: 100;
}

.hero-content button{
    height: 6vh;
    width: 7vw;
    border-radius: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #23AA9B;
}


/* page2 */

.page2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
    position: relative;
    background: white;

}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

  
    /* padding-left: 8%; */
}
.part2-l{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l-img{
    width: 90%;
    height: 80%;
}
.l-img img{
    width: 100%;
    object-fit: cover;
}

.part2-r{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.r-img{
    width: 90%;
    height: 80%;
}
.r-img img{
    width: 100%;
    object-fit: cover;
}

.heading-page2{
    text-align: center;
}

.part2 h2{
    position: relative;
}
.part2 h2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #00000033;
    top: 100%;
    left: 0%;
    margin-top: 10px;

}

.part3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 1vw;
    height: 100%;
}

.part3-sub{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part3-img-div{
    width: 100%;
}

.part3-img-div img{
    width: 100%;
    object-fit: cover;
}

.part3 h2{
    position: relative;
}
.part3 h2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #00000033;
    top: 100%;
    left: 0%;
    margin-top: 10px;
}

.side h1{
    font-size: 4vw;
    transform: rotate(-90deg);
    position: absolute;
    top: 30%;
    width: 100%;
    left: -42%;
    opacity: 1;
    letter-spacing: 2px;
    color: #ecf8f7;
}





.page3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 9vh;
    text-align: center;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    
}

.page3-b{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9vw;
}
.page3-con{
    position: absolute;
    top: 10%;
    /* transform: translate(-50%,-50%s);     */
}
.center-ilus{
    width: 45vw;
    height: 50%;
}

.center-ilus img{
    border: #000000 20px solid;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    /* opacity: 0.4; */
}
.btn{
    position: absolute;
    bottom:5%;
    border: none;
    height: 50px;
    width: 120px;
    background: #ffffff;
    border: 2px solid #23AA9B;
    border-radius: 10px;
    cursor: pointer;
    
}

.btn:hover{
    background: #23AA9B;
    color: white;
}

.info{
    padding-top:10vh ;
    /* position: absolute; */
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left:1vw;
}

.info-sub{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-sub p{
    width: 80%;
    text-align: center;
}

.info-sub h2{
    position: relative;
}

.info-sub h2::after{
    content: '';
    position: absolute;
    top: 100%;
    height: 1px;
    width: 100%;
    background: #7c7c7cc8;
    left: 0;
    margin-top: 10px;

}

.page4{
    width: 100vw;
    min-height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
    text-align: center;
    gap: 9vh;
}
.page4-heading h1{
    font-size: 3vw;
}
.page4-heading p{
    font-size: 1vw;
    color: #545353b9;
}

.page4-img-div{
    width: 70%;

}
.page4-img-div img{
    object-fit: cover;
    width: 100%;
}


.our-clients{
    width: 100vw;
    height: 40vh;
    background: #e9f7f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 2vh; */
}

.our-clients h1{
    font-size: 2.4vw;
    color: #2f3a38;
}

.client-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    width: 100%;

}
.client-icons img
{
    aspect-ratio: 5/4;
    object-fit: contain;
}
.gallery{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4vw;
    width: 100%;

}
.gal-img-div{
    width: 90%;
}
.gal-img-div img{
    width: 100%;
    object-fit: cover;
}
.gallery h1{
    font-size: 2.3vw;
}
.gallery p{
    padding-bottom: 1vw;
    color: #A7A3A2;
}

.footer-ilus{
    width: 100%;
}
.footer-ilus img{
    width: 100%;
    object-fit: cover;
}