@font-face {
    font-family: 'Jakarta';
    src: url(../assets/fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
    font-family: 'Jakarta-l';
    src: url(../assets/fonts/PlusJakartaSans-Light.ttf);
}
.hero-wrapper{
    overflow-x: hidden;
    position: relative;
    font-family: Jakarta;
    background: #000000ae;

}
.page1{
    position: relative;
    width: 100vw;
    min-height: 100vh;

}


.container{
    width: 100vw;
    height: 100vh;
    background: #000;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}
.hero-content{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 30%;
    z-index: 100;
    left: 0%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2vw;
    
}
.hero-content h1{
    font-size: 3vw;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: -1.1vw;
}
.hero-content p{
    width: 90%;
    font-size: 1vw;
    color: rgb(221, 219, 219);
    font-family: Jakarta-l;
    font-weight: 100;
}

.hero-content button{
    height: 6vh;
    width: 9vw;
    border-radius: 10px;
    background-color: #23AA9B;
    border: none;
    cursor: pointer;
    color: white;
    transition: all ease 0.5s;
}
.hero-content button:hover{
    
    background-color: white;
    border: 1px solid #23AA9B;
    color: #23AA9B;
}


/* page2 */

.page2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
    position: relative;
    background: white;

}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.part2-l{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.l-img{
    width: 90%;
    height: 80%;
}
.l-img img{
    width: 100%;
    object-fit: cover;
}

.part2-r{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.r-img{
    width: 90%;
    height: 70%;
    overflow: hidden;

}
.r-img img{
    width: 100%;
    object-fit: cover;
}

.heading-page2{
    text-align: center;
}
.heading-page2 h1{
    font-size: 2.1vw;
}
.heading-page2 p{
    font-size: 1.3vw;
    color: #A7A3A2;
}

.part2 h2{
    position: relative;
}
.part2 h2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #00000033;
    top: 100%;
    left: 0%;
    margin-top: 10px;

}

.part3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 1vw;
    height: 100%;
    /* background: #000; */
}

.part3-sub{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: pink; */
}
.part3-img-div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.part3-img-div img{
    width: 100%;
    object-fit: contain;
}

.part3 h2{
    position: relative;
}
.part3 h2::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #00000033;
    top: 100%;
    left: 0%;
    margin-top: 10px;
}

.side h1{
    font-size: 4vw;
    transform: rotate(-90deg);
    position: absolute;
    top: 30%;
    width: 100%;
    left: -42%;
    opacity: 1;
    letter-spacing: 2px;
    color: #ecf8f7;
}


@media (max-width: 768px){
    .side{
        display: none;
    }

    .part2{
        width: 90%;
        display: flex;
        /* background: #c61212; */
    }
    .page2 h2{
        font-size: 3vw;
    }
    .part3{
        flex-wrap: wrap;
        /* background: #000; */
        gap: 5vw;

    }
    .page2{
        /* background: #000; */
        border-radius: 0px 0px 30px 30px;
        position: relative;
        z-index: 1;
    }

    .part3-sub{
        width: 40%;
    }
    
}




.page3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 9vh;
    text-align: center;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    
}

.page3-b{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9vw;
}
.page3-con{
    position: absolute;
    top: 7%;
    width: 30%;
    
    
    /* transform: translate(-50%,-50%s);     */
}
.page3-con h1{
    font-size: 4vh;
}
.page3-con p{
    color: #A7A3A2
}
.center-ilus{
    width: 45vw;
    height: 50%;
}

.center-ilus img{
    border: #000000 20px solid;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    /* opacity: 0.4; */
}
.btn{
    position: absolute;
    bottom:5%;
    border: none;
    height: 50px;
    width: 120px;
    background: #ffffff;
    border: 2px solid #23AA9B;
    border-radius: 10px;
    cursor: pointer;
    
}

.btn:hover{
    background: #23AA9B;
    color: white;
}

.info{
    padding-top:10vh ;
    /* position: absolute; */
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left:1vw;
}

.info-sub{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #000; */
    
}
.info-sub img{
    width: 9%;
    aspect-ratio: 3/5;
    object-fit: contain;
    height: 100%;
}
.info-sub p{
    width: 75%;
    text-align: center;
}

.info-sub h2{
    position: relative;
}

.info-sub h2::after{
    content: '';
    position: absolute;
    top: 100%;
    height: 1px;
    width: 100%;
    background: #7c7c7cc8;
    left: 0;
    margin-top: 10px;

}
.page3-mobile{
    display: none;
}
.info-img-div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.info-sub-con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    align-items: center;

}


@media (max-width: 768px){
    .page3{
        /* background: #00000052; */
        background: url(../assets/mg4.png);
        min-height: 40vh;
        margin-top: -4vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .page3 a{
        font-size: 4vw;
    }
    .page3::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.866); /* Adjust opacity here */
        /* z-index: 1; */
    }
    .page3-b{
        display: none;
    }
    .page3 h1{
        color: white;
        font-size: 2.5vh;
    }
    .page3-con{
        display: none;
    }
    .page3-mobile{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-top: -6vh;
    }
    .page3 p{
        color: white;
    }

    .info{
        /* padding-top:10vh ; */
        /* position: absolute; */
        background: #E9F7F5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        /* padding-left:8vw; */
        min-height: 50vh;
        flex-wrap: wrap;
        /* padding-bottom: 3vh; */
        border-radius: 20px 20px 0 0 ;
        margin-top: -4vh;
        position: relative;
        z-index: 3;
        padding: 8vw 0;
    }
    
    .info-sub{
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-left: 10vw;
        /* padding: 0vw 10vw; */

        /* background: #000; */
        
    }
    .info-img-div{
        width: 10%;
        margin-top: -4vh;
    }
    .info-img-div img{
        width: 100%;
    }
    .info-sub h2::after{
        display: none;
    }
    .info-sub-con{
        display: flex;
        /* background: #f12b2b; */
    }
    .info-sub-con p{
        text-align: left;
        font-size: 3.5vw;
    }
    .info-sub-con h2{
        text-align: left;
        width: 75%;

    }
}



.page4{
    width: 100vw;
    min-height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
    text-align: center;
    gap: 9vh;
}
.page4-heading h1{
    font-size: 2.4vw;
}
.page4-heading p{
    font-size: 1vw;
    color: #545353b9;
}

.page4-img-div{
    width: 70%;

}
.page4-img-div video{
    object-fit: cover;
    width: 100%;
    opacity: 1;
}


.our-clients{
    width: 100vw;
    height: 40vh;
    background: #e9f7f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 2vh; */
}

.our-clients h1{
    font-size: 2.4vw;
    color: #2f3a38;
}

.client-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    width: 100%;

}
.client-icons img
{
    aspect-ratio: 5/4;
    object-fit: contain;
}
.gallery{
    padding-top: 9vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    

}
.gal-img-div{
    width: 90%;
}
.gal-img-div img{
    width: 100%;
    object-fit: cover;
    padding-left: 5vw;

}
.gallery h1{
    font-size: 2.4vw;
    text-align: center;
    
}
.gallery p{
    padding-bottom: 3vw;
    margin-top: -0.4vh;
    color: #A7A3A2;
    text-align: center;
    font-size: 1vw;
}

.footer-ilus{
    width: 100%;
}
.footer-ilus img{
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 8vw; /* Further adjust for smaller screens */
    }
    .hero-content p {
        font-size: 4vw; /* Further adjust for smaller screens */
    }
    .hero-content button {
        width: 40vw; /* Further adjust for smaller screens */
    }
    .heading-page2 h1 {
        font-size: 6vw;
    }
    .heading-page2 p {
        font-size: 4.5vw;
    }
    
    .part3, .page4-heading {
        width: 100%;
        text-align: center;
    }



}

