body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Jakarta';
}

@font-face {
  font-family: 'Jakarta-bold';
  src: url(../assets/fonts/PlusJakartaSans-Bold.ttf);
}

.hww{
  margin-top: -1vh;
}

.hero-hww {
  height: 100svh;
  width: 100vw;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13vw;
  position: relative;
}

.hero-hww>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;

}

.hww-hero-con {
  width: 25%;
}

.hww-hero-con h1 {
  font-size: 3vw;
}

.hww-img-div {
  width: 30%;
  /* background: #000; */
  height: 60%;
  position: relative;
}

.hww-para {
  font-size: 1.1vw;
  color: rgba(126, 122, 122, 0.866);
}

.hww-img-div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-container {
  position: sticky;
  width: 100%;
  top: 0;
  height: 410vh;
  /* Adjust as needed */
  background: #23AA9B;
  /* padding-top: 30vw; */
}

.image-part {
  position: sticky;
  width: 100%;
  height: 70vh;
  background: #F4F4F4;
}

.image-part img {
  width: 100%;
  height: 20vh;
  /* object-fit: cover; */
}

.image-part.part-1 {
  top: 0;
  z-index: 1;
  height: 15%;
  /* background: #000; */
}

.image-part.part-2 {
  top: 19.8vh;
  z-index: 2;
  height: 15%;
  /* margin-top: -12vh; */
  /* background: #000; */
}

.image-part.part-3 {
  top: 39.1vh;
  z-index: 3;
}

.image-part.part-4 {
  top: 59.1vh;
  z-index: 4;
}

.image-part.part-5 {
  top: 79vh;
  z-index: 5;
  background: #ffffff;
}

.hww-con {
  position: absolute;
  width: 30%;
  /* Same width for all */
  height: 50%;
  /* Same height for all */
  color: #23AA9B;
  /* Text color */
  text-align: center;
  background: #ffffff;
  transition: z-index 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.one {
  height: 30%;
}

.num {
  width: 30%;
  font-size: 7.5vw;
  padding: 1vw;
  font-family: 'Jakarta-bold';
  font-weight: bold;

}

.num-para {
  width: 70%;
  display: flex;
  /* background: #000; */
  flex-direction: column;

  text-align: left;
  padding: 3px;
}

.num-para h3 {
  text-align: left;

  font-size: 1vw;
}

.num-para p {
  color: rgba(93, 90, 90, 0.696);
}

.hww-hero-con button {
  border: none;
  background: #23AA9B;
  height: 6vh;
  padding: 1vw;
  border-radius: 10px;
  color: white;
  margin-top: 2vw;
}
.hww-hero-con button:hover{
  border: none;
  background: #1c7d72;
  cursor: pointer;
}

.image-part.part-1 .hww-con {
  top: 10%;
  right: 5%;
  z-index: 100;
}

.image-part.part-2 .hww-con {
  top: -18%;
  /* Same top as part-1 */
  right: 5%;
  /* Same right as part-1 */
  z-index: 2;

}

.image-part.part-3 .hww-con {
  top: -46%;
  /* Same top as part-1 */
  right: 5%;
  /* Align to the left */
  z-index: 3;
}

.image-part.part-4 .hww-con {
  top: -75%;
  /* Same top as part-1 */
  right: 5%;
  /* Same left as part-3 */
  z-index: 4;
}

.image-part.part-5 .hww-con {
  top: -100%;
  /* Same top as part-1 */
  right: 5%;
  /* Same left as part-3 */
  z-index: 5;
}

/* New content section */
.content-section {
  position: sticky;
  top: 100vh;
  /* Stick to the bottom of the viewport */
  width: 100%;
  height: 100vh;
  padding: 50px;
  background-color: #ffffff;
  z-index: 10;
  /* Ensure it's above the background */
}

.content-section h1 {
  font-size: 3vw;

}

.content-section p {
  font-size: 1.1rem;
}


@media (max-width:768px) {

  .image-part.part-1 {
    top: 0;
    z-index: 1;
    height: 15%;
    /* background: #000; */
  }

  .image-part.part-2 {
    top: 10vh;
    z-index: 2;
    /* margin-top: -12vh; */
    /* background: #000; */
  }

  .image-part.part-3 {
    top: 20vh;
    z-index: 3;
  }

  .image-part.part-4 {
    top: 30vh;
    z-index: 4;
  }

  .image-part.part-5 {
    top: 40vh;
    z-index: 5;
    background: #ffffff;
  }

  .hero-hww {
    flex-direction: column-reverse;
    gap: 1vh;
  }

  .hww-img-div {
    width: 85%;
    margin-top: 2vh;
  }

  .hww-hero-con {
    width: 60%;
  }

  .hww-hero-con h1 {
    font-size: 6vw;
    width: 80%;
    text-align: center;
    margin: auto;
  }

  .hww-hero-con p {
    font-size: 3vw;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 4vh;
  }


  .image-part.part-1 .hww-con {
    top: 10%;
    right: 0%;
    z-index: 100;
  }

  .image-part.part-2 .hww-con {
    top: -6%;
    /* Same top as part-1 */
    right: 0%;
    /* Same right as part-1 */
    z-index: 2;
  }

  .image-part.part-3 .hww-con {
    top: -20%;
    /* Same top as part-1 */
    right: 0%;
    /* Align to the left */
    z-index: 3;
  }

  .image-part.part-4 .hww-con {
    top: -35%;
    /* Same top as part-1 */
    right: 0%;
    /* Same left as part-3 */
    z-index: 4;
  }

  .image-part.part-5 .hww-con {
    top: -50%;
    /* Same top as part-1 */
    right: 0%;
    /* Same left as part-3 */
    z-index: 5;
  }

  .hww-con {
    position: absolute;
    width: 70%;
    /* Same width for all */
    height: 40%;
    /* Same height for all */
    color: #23AA9B;
    /* Text color */
    text-align: center;
    background: #ffffff;
    transition: z-index 0.3s ease;
    display: flex;
    justify-content: center;
    padding: 3vw;
    align-items: center;
    border-radius: 10px;
    /* opacity: 0; */
  }

  .num-para {

    width: 100%;


  }
  .num{
    font-size: 6vh;
  }

  .image-part img {
    width: 100%;
    height: 10vh;
    /* object-fit: cover; */
  }

  .num-para h2{
    font-size: 2vh;
  }
  .num-para p{
    font-size: 1.7vh;
  }

  .content-section{
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-section .hero-hww{
    margin-right: 13vh;
    width: 100%;
  }
  .content-section .hww-img-div{
    width: 100%;
  }

  .content-section h1{
    font-size: 6vw;
  }
  .content-section button{
    width: 100%;
    margin-top: 3vh;
  }



}


.popup-form {
  position: fixed;
  top: -20%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #217067c7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  min-height: 140vh; /* Similar height property */
  flex-direction: column; /* Makes the form center with vertical alignment */
}

.form-content {
  width: 40%; /* Adjusted width similar to .custom-form */
  margin: 0 auto;
  padding: 4vw;
  background-color: white;
  border: 2px dashed #23AA9B; /* Dashed border similar to .custom-form */
  border-radius: 8px;
  position: relative;
}

.popup-form form {
  display: flex;
  flex-direction: column;
}

.popup-form label {
  
  
}

.popup-form input,
.popup-form textarea {
  width: 100%; /* To make inputs take full width */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom:15px;

}

#submit{
  padding: 10px 50px; /* Wider padding similar to the custom button */
  background-color: #23AA9B;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  /* margin-left: 1vw; */
  margin-top: 2vw;
  width: 30%;
}

.popup-form button:hover {
  background-color: #107d70;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
}



