.space-wrap{
    width: 100vw;
    min-height: 100svh;
    background: white;

}
.space-hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-hero>img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0%;
}

.space-hero-left{
    width: 50%;

}
.space-hero-left h1{
    font-size: 6vh;
    
}

.space-hero-right{
    width: 45%;
    position: absolute;
    right: 10%;
    bottom: 0;
    
}
.space-hero-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.space2{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 10vh;
    padding: 10vh 0vh;
}
.space2-heading{
    text-align: center;
}
.space2>img{
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0.7;
    /* height: 100vh; */

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 70%;
    justify-content: space-between;
    gap: 16px; /* Gap between cards */
  }
  
  .card {
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: calc(20%); /* 4 cards per row with a gap */
  }

  .card:hover{
    background: white;
    border: .1px solid #91D4CD ;
  }
  
  .card img {
    width: 90%;
    height: 80%;
    object-fit: contain;
    border-radius: 8px;
  }
  .health{
    right: 0;
  }
  .kitchen{
    right: 0;
    scale: 0.6;
  }
  
  .card-title {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  .edu{
    right: 0;
  }
  
 .mobile{
  display: none;
 }
  
  @media (max-width: 768px) {
    .card {
      width: 35%; /* 1 card per row on mobile */
      padding: 5vw;
      height: 25vh;
    }
    .space-hero-left{
      position: relative;
      z-index: 10;
      top: 0%;
      width: 80%;
    }
    .space-hero-left h1{
      font-size: 4vh;
      text-align: center;
      font-weight: bold;
    }
    .space-hero-left a{
      display: none;
    }
    .space-hero img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: -25%;
    }

    .desktop{
      display: none;

    }
    .mobile{
      display: block;
      position: absolute;
      z-index: 1;
    }
    .card h3{
      font-size: 3vw;

    }

    .space-hero-right{
      display: none;
    }

    .cards-container{
      width: 90%;
    }


    .space2-heading h1{
      display: none;
    }
    .space2-heading p{
      width: 70%;
      margin-left: 15%;
      text-align: center;
      margin-top: -100%;
    }
    .cards-container{
      margin-top: -100%;
    }

    

    .lab{
      margin-top: -75%;
      margin-bottom: -70%;
    }
    .kit{
      margin-top: -40%;
      margin-bottom: -30%;
    }
  }
  